@charset "utf-8";

/* fonte */

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* variaveis */

:root{
    --Dark_cyan: #19a2ae;
    --Very_dark_desaturated_blue: #2d3248;
    --Dark_grayish_blue: #6a6f81;
    --Dark_gray: #969696;
}

/* configurações gerais */

*{
    margin: 0;
    padding: 0;
}

body, html{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    height: 100%;
}

.container{
    background-color: var(--Dark_cyan);
    height: 100%;
    padding: 0 10px;
    position: relative;
    overflow: hidden;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

/* imagens de fundo */

.bg_top{
    position: absolute;
    top: -100%;
    right: 50%;
    z-index: 9;
}

.bg_bottom{
    position: absolute;
    bottom: -122%;
    left: 49%;
    z-index: 9;
}

/* container do card */

.card_container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 10;
}


.card_img{
    max-height: 142px;
}

.card_img img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
}


.card{
    position: relative;
    width: 325px;
    height: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    background: #fff url(imagens/bg-pattern-card.svg) no-repeat;
}

/* perfil */

.card_perfil{
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.card_img_perfil img{
    border-radius: 50%;
    border: 5px solid #fff;
}

.perfil_nome{
    font-size: 18px;
    color: var(--Very_dark_desaturated_blue);
    font-weight: 700;
    padding-top: 1rem;
}

.perfil_idade{
    color: var(--Dark_gray);
    font-weight: 400;
    padding-left: 5px;
}

.perfil_cidade{
    font-size: 14px;
    padding-top: 0.5rem;
    margin-bottom: 1rem;
    color: var(--Dark_grayish_blue);
    letter-spacing: 1px;
}


/* status */

.card_status{
    position: absolute;
    width: 100%;
    border-top: 1px solid #e9e9e9;
    bottom: 0px;
}

.status_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.status{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.2rem;
    margin-bottom: 1.5rem;
}

.status_numero{
    color: #000;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.status_descricao{
    color: var(--Dark_gray);
    font-size: 10px;
    letter-spacing: 1px;
}

/* footer */

footer{
    font-size: 15px;
    margin: 0 auto;
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

footer a{
    text-decoration: none;
    color: hsl(246, 85%, 55%);
}

@media (max-width: 375px){
    .bg_top{
        top: -111%;
        right: 51%;
    }

    .bg_bottom{
        bottom: -130%;
        left: 40%;
    }
}