@charset "utf-8";

/* fonte */

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* variaveis */

:root{
    --Dark_cyan: #19a2ae;
    --Very_dark_desaturated_blue: #2d3248;
    --Dark_grayish_blue: #6a6f81;
    --Dark_gray: #969696;
}

/* configurações gerais */

*{
    margin: 0;
    padding: 0;
}

body, html{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    width: 100vw;
    height: 100vh;
}

main{
    background-color: var(--Dark_cyan);
    background-image: url("imagens/bg-pattern-top.svg"), url("imagens/bg-pattern-bottom.svg");
    background-position: bottom 50vh right 50vw, top 50vh left 50vw;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* container do card */

.card{
    background: #fff url(imagens/bg-pattern-card.svg) no-repeat;
    width: 340px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

/* perfil */

.card_perfil{
   margin-top: 90px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.img_perfil img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #fff;
}

.card_perfil > h2{
    font-size: 18px;
    color: var(--Very_dark_desaturated_blue);
    font-weight: 700;
    padding-top: 1rem;
}

.card_perfil > h2 > span{
    color: var(--Dark_gray);
    font-weight: 400;
    padding-left: 5px;
}

.card_perfil > p{
    font-size: 14px;
    padding-top: 0.5rem;
    margin-bottom: 1rem;
    color: var(--Dark_grayish_blue);
    letter-spacing: 1px;
}


/* status */

.card_status{
    display: flex;
    width: 100%;
    margin-top: 10px;
    border-top: 2px solid rgb(224, 224, 224);
    justify-content: space-evenly;
    align-items: center;
}

.status{
    text-align: center;
    margin-top: 1.2rem;
    margin-bottom: 1.5rem;
}

.status > p{
    color: var(--Very_dark_desaturated_blue);
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.status > span{
    color: var(--Dark_gray);
    font-size: 10px;
    letter-spacing: 1px;
}

/* footer */

footer{
    font-size: 15px;
    margin: 0 auto;
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

footer a{
    text-decoration: none;
    color: hsl(246, 85%, 55%);
}
